# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Database
data/*.duckdb
data/*.duckdb.wal

# Logs
logs/*.log

# Env
.env

# docs
docs/prompts.md
docs/SPRINT_PLAN.md